.chapter(data-title='Voice Conference and Broadcast')
  .step(data-file='ConferenceBroadcast.Web/packages.config' data-mode='xml')
    :markdown
      ## About this application

      ![Rapid Response Kit](http://howtodocs.s3.amazonaws.com/RRK-
      screenshot.png)

      This [ASP.NET MVC](//www.asp.net/mvc) sample application is inspired by
      the [Rapid Response Kit](//github.com/Twilio-org/rapid-response-kit),
      built by Twilio and [used all over the
      world](//www.twilio.com/blog/2014/03/open-source-nonprofit-tools-twilio-org-rapid-response-kit-nt.html)
      by organizations who need to act quickly in disastrous situations.

      Aid workers can use the tools in this app to communicate immediately
      with a large group of volunteers. In situations where all parties need
      to talk at once the organizer can quickly spin up a conference line. In
      other situations she can broadcast a spoken message to a list of
      volunteer phone numbers.

      To run this sample app yourself, [download the code and follow the
      instructions on GitHub](https://github.com/TwilioDevEd/conference-
      broadcast-csharp). You might also want to click around the views for
      this app, since in this tutorial we will only be covering the Twilio
      pieces.

      Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

      ---

      **See Also:**

      * [Getting Started with ASP.NET MVC 5](//www.asp.net/mvc/overview/getting-started/introduction/getting-started)
      * [The Twilio C# Helper Library](//www.twilio.com/docs/csharp/install)
